@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

section.block {
    border: 5px solid #bb133e;
    border-radius:8px;
    padding: 10px;
}

section.block.the-good {
    background-color: mintcream;
}

section.block h4 {
    font-family:"Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: -20px;
    margin-left: -5px;
    float: left;
    padding-right: 10px;
    background-color: rgba(245,255,250, 0.9);
    border-radius: 10px;
}

.blob {
    display: flex;
}