@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

:root {
    --good-bg: rgb(222, 248, 221);
    --bad-bg: lightgoldenrodyellow;
    --ugly-bg:mistyrose;
    --i-bg: rgb(249, 224, 255);
    --you-bg: rgb(255, 223, 193);
    --info-bg: azure;
    --sounds-bg: rgb(228, 228, 253);
    --lighter-bg: rgb(245, 244, 231);
}

section.block {
    border: 0.3rem solid var(--ftp-emphasis-color);
    border-radius:0.8rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

section.block.the-good, section.block.the-good h4 {
    background-color: var(--good-bg);
}
section.block.the-bad, section.block.the-bad h4 {
    background-color: var(--bad-bg);
}
section.block.the-ugly, section.block.the-ugly h4 {
    background-color: var(--ugly-bg);
}
section.block.i-did, section.block.i-did h4 {
    background-color: var(--i-bg);
}
section.block.you-do, section.block.you-do h4 {
    background-color: var(--you-bg);
}
section.block.info, section.block.info h4 {
    background-color: var(--info-bg);
}
section.block.sounds, section.block.sounds h4 {
    background-color: var(--sounds-bg);
}
section.block.lighter-side, section.block.lighter-side h4 {
    background-color: var(--lighter-bg);
}

section.block h4 {
    font-family:"Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: -1.85rem;
    margin-left: -0.35rem;
    float: left;
    padding: 0 0.35rem;
    border-radius: 2rem;
    /*opacity: 1;*/
}
.clearfix:after {
    clear: both;
}
.blob {
    clear: both;
}
.blob-title {
    font-size:1.1rem;
    font-weight:700;
    font-variant: italics;
}
.blob-title a {
    font-size:0.75rem;
}
.blob-content {
    margin-left:0.5rem;
}
.blob-content .image-left {
    float: left;
    font-size: 0.75rem;
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.15rem;
    text-align: center;
}
.blob-content .image-right {
    float: right;
    font-size: 0.75rem;
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.15rem;
    text-align: center;
}
.caption {
    text-align: left !important;
}

.blob-content .related-links {
    font-size:0.8rem;
}
.blob-content .related-links li {
    margin-bottom: 0.25rem;
    font-size:0.8rem;
}

.bluesky-embed {
    margin: 0 auto !important;
}