.post__content {
  max-width: 960px;
  margin: 0 auto;
}

.blog__post__current {
  font-weight: bold;
}

#post__prevnext_parent {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}

.post__prevnext {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*
  width: 200px;
  height: auto;
  */
  padding: 10px;
  border-radius: 0.5rem;  
}

.post__prevnext:hover {
  background-color:rgb( 64, 176, 191);
  color: white;
}

.post__taglist {
  /*float: right;
  clear: right;*/
  box-shadow: 0px 0px 3px 0px rgb(255, 255, 255);
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  flex-shrink: 0;
}

.post__prepend {
  display: flex;
  gap: 10px;
}


.post__image {
  flex-grow: 1;
}

.post__image img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.post__image-credit {
  font-size: 0.8rem;
  color: gray;
  text-align: center;
}

.article__image-credit {
  font-size: 0.8rem;
  color: gray;
  text-align: left;
}

.iframe-embed {
  width: 60vw;
  max-width: 800px;
  height: calc(60vw/1.5);
}

.img-link {
  max-width:35vw;
  height: auto !important;
}

@media (max-width: 400px) {
  .iframe-embed {
    width: 90vw;
    height: calc(90vw/1.5);
  }
}

blockquote {
  margin-left:0.75rem;
  border-left: 15px solid var(--ftp-accent-color-fade);
  padding-left: 5px;
  color: var(--ftp-accent-color);
  border-radius: 10px;
  font-size: 0.9em;
  margin-bottom:0;
}

blockquote p:first-of-type::before {
  content: "“"; /* or use open-quote if you want nesting behavior */
  color: var(--ftp-accent-color-fade);
  font-size: 3.5em;
  line-height: 0.1em;
  vertical-align: -0.5em; /* spacing so text doesn't collide with the quote */
}

blockquote p:last-of-type::after {
  content: "”"; /* or use open-quote if you want nesting behavior */
  color: var(--ftp-accent-color-fade);
  font-size: 3.5em;
  line-height: 0.1em;
  vertical-align: -0.5em;
  margin-right: 0.1em; /* spacing so text doesn't collide with the quote */
}

blockquote.bluesky-embed {
  border: none !important;
  text-align:center;
}

blockquote.bluesky-embed p:first-of-type::before {
  content: "";
  color: #000000;
  font-size: 1em;
  line-height: 1em;
  vertical-align: 0em;
}

blockquote.bluesky-embed p:last-of-type::after {
  content: "";
  color: #000000;
  font-size: 1em;
  line-height: 1em;
  vertical-align: 0em;
  margin-right: 0em;
}

blockquote div.author {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top:-1rem;
}

blockquote p {
  text-align:left;
}

figure figcaption {
  text-align: left !important;
  margin-left:2em;
}